h1 {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
p {
	text-align: center;
	font-size: 16px;
	line-height: 150%;
}
body {
	padding-top: 50px;
	background-color: rgb(245, 245, 245);
	margin-left: 60px;
	margin-right:60px;
}
@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}
nav {
	margin-left: 60px;
	margin-right: 60px;
}
