h1 {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
p {
	text-align: center;
	font-size: 13px;
	line-height: 150%;
}
}
body {
	background-color: rgb(245, 245, 245);
}
@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}
.navbar ul {
	padding-left: 100px;
	padding-right: 60px;
	font-size: 16px
}
.mainDiv {
	margin-left: 75px;
	margin-right: 75px;
	padding-top: 50px;
}
hr {
	width: 200px;
	border-color: black;
}
